
<%= form_for(@residential, :html => { :multipart => true }) do |f| %>
  <% if @residential.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@residential.errors.count, "error") %> prohibited this residential from being saved:</h4>

      <ul>
      <% @residential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="thumbnail">
  <div class="row">
    <div class="left">
    <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
   
  </div>
  <div class="col-md-4">
    <%= label_tag :address %><br>
    <%= f.text_area :address, class: "form-control" %><br>
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
   
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
   
  </div>
  <div class="col-md-4">
   
  </div>
  <div class="col-md-4">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code, class: "form-control" %><br>
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
   
  </div>
   <div class="col-md-4">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %><br>
  </div>
  
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    <%= f.label :hospital %><br>
    <%= f.text_field :realtorname, class: "form-control" %><br>
  </div>
   <div class="col-md-4">
    <%= f.label :hospital_phone%><br>
    <%= f.text_field :realtorphonenumber, class: "form-control" %><br>
  </div>
  <div class="col-md-4">
    <%= f.label :hospital_email %><br>
    <%= f.text_field :realtoremail, class: "form-control" %><br>
  </div>
  <div class="col-md-4">
    <%= f.label :additional_features %><br>
    <%= f.text_area :additionalfeatures, class: "form-control" %><br>
  </div>
 <div class="col-md-4">
   
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
   <div class="col-md-4">
   
  </div>
   <div class="col-md-4">
    
  </div>
   <div class="col-md-4">
   
  </div>
   <div class="col-md-4">
    
  </div>
   <div class="col-md-4">
   
  </div>
   <div class="col-md-4">
    
  </div>
   <div class="col-md-4">
   
  </div>
  <div class="col-md-4">
    
  </div>
   <div class="col-md-4">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([["Any Status", "Any Status"],["Available","Available"],["Not Available", "Not Available"]]), class: "form-control" %><br>
  </div>
  <div class="col-md-4">
   
  </div>
 
  <div class="col-md-4">
   
  </div>
  
  <br>
  <div class="col-md-4">
   <%= label_tag :hospital_pictures %><br>  <%= f.file_field :image, class: "form-control" %><br><br>
  </div>
  <div class="col-md-4">
    <%= f.submit class: "btn btn-danger" %><br>
  </div>
  <br>
</div>
</div>
<% end %>
</div>
