 <div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_residentialtitle_html') %>
  
 </div>
 </div>
  <div class="left">
     <%= t('searchresidential_html') %>
   <%= form_tag search_residentials_path, method: :get do %>
          <p>
        <%= text_field :search, params[:search], placeholder: t('searchtextbox'),class: "form-control" %><br>
       
 <%= submit_tag t('searchbtn'), name: nil ,class: "btn btn-success" %>
      </p>
</div>
      <% end %>
<div class="center"> 
<div class="row">
  <% @residentials.each do |residential| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag(residential.image.url), residential %>
      <div class="caption">
            <h3><strong><%= residential.realtorname %></strong></h3><br>
            <h4><strong><%= residential.address %></strong></h4>
            <th><strong>Hospital Phone:</strong></th><br><%= residential.realtorphonenumber %><br>
             <th><%= label_tag :nil, t('city') %></th><br><%= residential.city %><br>
             <th><%= label_tag :nil, t('zipcode') %></th><br><%= residential.zip_code %><br>
             <th><strong>Hospital Website:</strong></th> 
              <%= link_to residential.realtoremail, residential.realtoremail, :target => "_blank" %><br>
            

          </p>
          <%= link_to 'Show', residential, class: "btn btn-success" %>
          <% if (user_signed_in?) && (current_user == residential.user) %>
          <%= link_to 'Edit', edit_residential_path(residential), class: "btn btn-warning" %>
          <%= link_to 'Delete', residential, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
           <% end %>
 </div>
    </div>
  </div>

  <% end %>

</div>
</div>
</div>
<br>
<% if user_signed_in? %>
<%= link_to t('new_residential'), new_residential_path, class: "btn btn-success" %>
<% end %>
<br>

<!--<h1>Listing residentials</h1>-->


