

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @residential.image.url %>
      <br>
     <h4><strong>General Details</strong></h4>
    <h5><strong><%= @residential.address %></strong></h5>
     <strong>New Patients Status:</strong>  
     <%= @residential.status %>
      <strong>City:</strong>  
    <%= @residential.city %>
     <strong>Zip code:</strong>  
    <%= @residential.zip_code %>
      <br>
      <br>
      <h4><strong>Hospital Information</strong></h4>
<div class ="col-md-6">
  <strong>Hospital Name:</strong>  
  <%= @residential.realtorname %>
</div>
  <div class ="col-md-6">
  <strong>Phone:</strong>  
  <%= @residential.realtorphonenumber %>
</div>
<div class ="col-md-6">
  <strong>Email:</strong>  
  <%= @residential.realtoremail %>
</div>
      </div>

      <br>
  </div>
</div>
</div>
  <div class="col-md-6">
    <strong>Hospital Description:</strong>  
      <%= @residential.additionalfeatures %>
    
   </div>
</div>
 <br>
</div>
</div>
    <br>
    <br>
   <div class ="col-md-12">
    <div class= "center">
   <strong>Map View Location:</strong><br>
   <br>
<iframe
  width="800"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUOQ0h7ZYU56FuY9ziMMXURoIlHxC3pfY
    &q=<%= @residential.address.parameterize %>">
</iframe>
</div>
</div>
<br>
<br>



</div>
</div>
<% if current_user == @residential.user %>
<%= link_to 'Edit', edit_residential_path(@residential), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', residentials_path, class: "btn btn-link" %>

