  <div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_commercialtitle_html') %>
  
 </div>
 </div>
  <div class="left">
     <%= t('searchcommercial_html') %>

<%= form_tag search_commercialpropertiesforsales_path, method: :get do %>
          <p>
<%= text_field :search, params[:search], placeholder: t('searchtextbox'),class: "form-control" %><br>

<%= submit_tag t('searchbtn'), name: nil ,class: "btn btn-success" %>
      </p>
</div>
      <% end %>


 <div class="thumbnail">
    <div class="center"> 
    <div class="row">
    <% @commercialpropertiesforsales.each do |commercialpropertiesforsale| %>
    <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag(commercialpropertiesforsale.image.url), commercialpropertiesforsale %>
    <div class="caption">
       <h3><strong><%= commercialpropertiesforsale.realestatecompany %></strong></h3><br>
      <h4><strong><%= commercialpropertiesforsale.address %></strong></h4>
     
      <p>
        
        <th><%= label_tag :nil, t('city') %></th> <%= commercialpropertiesforsale.city %><br>
        <th><%= label_tag :nil, t('zipcode') %></th><br><%= commercialpropertiesforsale.zipcode %><br>
        <th><%= label_tag :nil, t('officephone') %></th> <%= commercialpropertiesforsale.officephone %><br>
        <th><%= label_tag :nil, t('commercialwebsite') %></th> 
        <%= link_to commercialpropertiesforsale.companywebsite, commercialpropertiesforsale.companywebsite, :target => "_blank" %><br>
         
      </p>
        <td><%= link_to 'Show', commercialpropertiesforsale, class: "btn btn-success" %></td>
        <% if (user_signed_in?) && (current_user == commercialpropertiesforsale.user) %>
        <td><%= link_to 'Edit', edit_commercialpropertiesforsale_path(commercialpropertiesforsale), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', commercialpropertiesforsale, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
         <% end %>
    </div>
  </div>
</div>
    <% end %>
  </div>
</div>
</div>

<br>
<div class="left">
  <% if user_signed_in? %>
  <%= link_to t('new_commercial'), new_commercialpropertiesforsale_path, class: "btn btn-success" %>
  <% end %>
</div>
